<app-navbar></app-navbar>
<app-boton-accesibilidad></app-boton-accesibilidad>
<div [ngClass]="{ 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
      <div class=" tw-bg-blue-500 text-white tw-flex-col tw-flex tw-items-center" >
        <div class="row" [ngClass]="{ 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
            <div class="col-md-12 text-center mb-5 tw-flex tw-flex-col tw-items-center mt-3 p-1">
                <img src="assets/PerroFiesta.png" alt="Logo" class="img-fluid w-25" >
                <h1 class="display-4" [ngClass]="{ 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">¡Eventos proximos!</h1>
                <p class="lead" [ngClass]="{ 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">¿No te interesa participar mas? Tendremos un monton de actividades, cursos y historias por contar sobre nosotros, ¡No te los pierdas son completamente gratis!</p>
            </div>
        </div>
      </div>
        <hr class="my-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card">
            <img src="assets/Croqueton1.jpeg" class="card-img-top" alt="img-fluid tw-w-1/4">
            <div class="card-body">
              <h2 class="card-title">Croqueton 2024</h2>
              <p class="card-text">El Croquetón es una campaña de difusión masiva de la UVP para ayudar a perros y gatos en situación de calle que se encuentran confinados en dos diferentes refugios con apoyo alimenticio y productos de limpieza.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/Adiestramiento.jpg" class="card-img-top" alt="img-fluid tw-w-1/4">
            <div class="card-body">
              <h2 class="card-title">CURSO "¡ChinGato tu Madre!" Adiestramiento Felino</h2>
              <p class="card-text">¡No te estamos insultado; solamente es el nuevo curso intensivo para tu amigo gatuno! ¿Tienes problemas con su comportamiento? ¿Rasca sillones como si deporte olimpico se tratara? ¿Te quiere arañar como si fueras su peor enemigo? Ven a aprender las bases de su comportamiento y aplicarlas a tu favor, controla a la fiera que tienes en casa, con este nuevo curso</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/Adoptar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">Ayuda y Adopta</h2>
              <p class="card-text">¡Los perritos de la calle estan muy solos y la verdad dentro de todo, necesitanmucha ayuda, la verdad, es mejor tenerlos de la mejor manera posible y de la manera mas legal sin ningun dinero de por medio, adoptar es la mejor opcion, te esperamos!!</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/legadooreo.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <h2 class="card-title">"La vida y legado de Oreo"</h2>
              <p class="card-text">Nicole Flores, nos relatara dentro de esta pequeña sesion, la historia de un perro extraordinario que llego a cambiar la vida de su dueña y que con el relato se tiene en cuenta de la vida del mismo como nos dejo todo este legado de estre pequeño refugio.</p>
            </div>
          </div>
          <br>
          <br>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>
