<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col-md-6 mt-4 left-content">
            <h1 class="font-weight-bold text-body">Encuentra tu <span
                    class="text-warning font-weight-bold">nuevo<br></span>mejor amigo.</h1>
        </div>
        <div class="col-md-6 right-content">
            <div class="mb-3 border">Contenedor 1</div>
            <div class="mb-3 border">Contenedor 2</div>
        </div>
    </div>
</div>
<div class="container-fluid bg-warning">
    <div class="container">
        <div class="row">
            <div class="col text-center mb-4">
                <h1 class="text-center mt-3">Acerca de Nicofugio</h1>
                <h5 class="mt-3 font-weight-normal">Nicofugio comenzo como un apoyo a los animales sin hogar.
                    Para aquellos animalitos que han tenido la mala fortuna de vivir en situación en calle y/o que
                    han sido abandonados por sus dueños. En Nicofugio tenemos como objetivo principal encontrar un hogar
                    a aquellos
                    animales que lo necesitan.
                </h5>
                <button type="button" class="btn btn-lg btn-light">Ver más</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <h2 class="mt-4">¿Por que adoptar?</h2>
    <div class="d-flex justify-content-around">
        <img src="438082284_864526989021249_155892058778421219_n.jpg" height="300" width="300" alt="Not Image Found"
            class="rounded-circle">
        <img src="438082284_864526989021249_155892058778421219_n.jpg" height="300" width="300" alt="Not Image Found"
            class="rounded-circle">
        <img src="438082284_864526989021249_155892058778421219_n.jpg" height="300" width="300" alt="Not Image Found"
            class="rounded-circle">
    </div>
</div>
<br>
<div class="container-fluid text-center">
    <div class="d-flex justify-content-around">
        <img src="Captura de pantalla 2024-05-04 233610.png" height="300" width="300" alt="Not Image Found"
            class="rounded-circle">
        <img src="Captura de pantalla 2024-05-04 233610.png" height="300" width="300" alt="Not Image Found"
            class="rounded-circle">
        <img src="Captura de pantalla 2024-05-04 233610.png" height="300" width="300" alt="Not Image Found"
            class="rounded-circle">
    </div>
</div>
<br>
<div class="container-fluid bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-4 left-content">
                <img src="Captura de pantalla 2024-05-04 233610.png" width="300" height="300" alt="Not Image Found"
                    class="rounded-circle">
            </div>
            <div class="col-md-6 right-content">
                <h2 class="mt-3 text-light">Conoce a Oreo</h2>
                <h3 class="font-weight-normal text-light">Oreo es una bonita perrita Border Collie que fue adoptada de
                    nuestro refugio, le GUSTA mucho
                    jugar con su pelota, es inteligente, amorosa e inquieta.
                </h3>
                <br>
                <h3 class="mb-3 font-weight-normal text-light">Conoce mas acerca de Oreo y su dueña para ver como los
                    animales pueden cambiar vidas.</h3>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid text-center">
    <h2 class="mt-4">¿No puedes adoptar?</h2>
    <h2>Apoya al refugio monetariamente.</h2>
    <button>Dona perra</button>
</div>
<br>