<app-navbar></app-navbar>
<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center mb-5 tw-flex tw-flex-col tw-items-center">
            <img src="assets/about.jpeg" alt="Logo" class="img-fluid w-25">
            <h1 class="display-4">Acerca de Nicofugio</h1>
            <p class="lead">Bienvenido a Nicofugio, un proyecto dedicado al cuidado y bienestar de mascotas.</p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="mb-4 tw-text-4xl">¡Conoce a los fundadores!</h2>
            <p>Nota: Recuerda que esto solo se trata de un proyecto de universidad. No es real.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="img-fluid" src="path_to_image" alt="Nicole Flores">
                </div>
                <div class="card-body">
                    <h5 class="card-title tw-text-2xl">Nicole Flores</h5>
                    <p class="card-text">Fundadora. Nicole tiene una historia especial con los animales, despues de rescatar a su perrita Oreo de ahogarse. Desde pequeña, su hogar estaba lleno de mascotas rescatadas que encontraban refugio en su corazón cálido y acogedor. Su pasión por el bienestar animal la llevó a fundar Nicofugio, donde dedica su tiempo y energía a cuidar y encontrar hogares amorosos para los animales que lo necesitan.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="img-fluid" src="path_to_image" alt="Diego Magdaleno">
                </div>
                <div class="card-body">
                    <h5 class="card-title tw-text-2xl">Diego Magdaleno</h5>
                    <p class="card-text">Cuidador. Diego es un amante de la naturaleza y los animales desde que era niño. Creció rodeado de perros, gatos, y una variedad de criaturas rescatadas. Su devoción por los animales lo llevó a dedicar su vida al cuidado de los más vulnerables. En Nicofugio, se asegura de que cada animal reciba el amor y la atención que merece, ayudando a construir puentes entre ellos y sus futuras familias.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="img-fluid" src="path_to_image" alt="Aaron Fonseca">
                </div>
                <div class="card-body">
                    <h5 class="card-title tw-text-2xl">Aaron Fonseca</h5>
                    <p class="card-text">Cuidador. Aaron siempre ha sentido una conexión profunda con los animales. Desde su infancia, ha trabajado en refugios y organizaciones de rescate, brindando cuidado y apoyo a criaturas necesitadas. Su compromiso con el bienestar animal lo llevó a unirse a Nicofugio, donde cada día se dedica a proporcionar amor y cuidado a los residentes del refugio, con la esperanza de que cada uno encuentre un hogar donde sea amado y apreciado como se merece.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="img-fluid" src="path_to_image" alt="Manuel Medina">
                </div>
                <div class="card-body">
                    <h5 class="card-title tw-text-2xl">Manuel Medina</h5>
                    <p class="card-text">Cuidador. Su pasión por los animales empezo cuando adopto a su perro 'Atai', un
                        Golden Retriever muy hiperactivo y hermoso. Desde entonces ha dedicado su tiempo a Nicofugio
                        para que mas animales como su perro, tengan la oportunidad de encontrar una familia y con esto,
                        no solo fomentar a cuidar a un animal, si no, el cariño y hogar que se les deben de propiciar.
                        Ha tenido una experiencia muy linda conviviendo con distintos animales y encontrandoles familias
                        a cada uno de ellos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>