<app-navbar></app-navbar>
<div class="container my-5">
    <div class="row">
        <div class="col-md-12 text-center mb-5">
            <h1 class="display-4">Acerca de Nicofugio</h1>
            <p class="lead">Bienvenido a Nicofugio, un proyecto dedicado al cuidado y bienestar de mascotas.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="mb-4">¡Conoce a los fundadores!</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-4">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="img-fluid" src="path_to_image" alt="Nicole Flores">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Nicole Flores</h5>
                    <p class="card-text">Fundadora. Una vez adoptó a Oreo en 2020...</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-12 mb-4">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="img-fluid" src="path_to_image" alt="Diego Magdaleno">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Diego Magdaleno</h5>
                    <p class="card-text">Cuidador. Alguna descripción aquí.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="img-fluid" src="path_to_image" alt="Aaron Fonseca">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Aaron Fonseca</h5>
                    <p class="card-text">Cuidador. Alguna descripción aquí.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="card-horizontal">
                <div class="img-square-wrapper">
                    <img class="img-fluid" src="path_to_image" alt="Manuel Medina">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Manuel Medina</h5>
                    <p class="card-text">Cuidador. Alguna otra descripción aquí.</p>
                </div>
            </div>
        </div>
    </div>
</div>
