<app-navbar></app-navbar>
<app-boton-accesibilidad></app-boton-accesibilidad>
<div class="container my-5" [ngClass]="{'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
    <div class="row">
        <div class="col-md-12 text-center mb-5 tw-flex tw-flex-col tw-items-center">
            <img src="assets/about.jpeg" alt="Logo" class="img-fluid w-25">
            <h1 class="display-4">Acerca de Nicofugio</h1>
            <p class="lead">Bienvenido a Nicofugio, un proyecto dedicado al cuidado y bienestar de mascotas.</p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 class="mb-4 tw-text-4xl">¡Conoce a los fundadores!</h2>
            <p>Nota: Recuerda que esto solo se trata de un proyecto de universidad. No es real.</p>
        </div>
    </div>

    <div class="row tw-m-5 tw-flex tw-flex-col tw-justify-center tw-items-center">
        <div class="col-md-12 mb-4 ">
            <div class="card-horizontal tw-flex tw-flex-col tw-items-center tw-justify-center">
                <div class="img-square-wrapper">
                    <img class="img-fluid tw-rounded-full tw-w-48 tw-h-48 tw-m-4" src="assets/nicole.jpeg" alt="Nicole Flores">
                </div>
                <div class="card-body">
                    <h5 class="card-title tw-text-2xl tw-text-center">Nicole Flores</h5>
                    <p class="card-text tw-text-center">Fundadora. En el año 2020 decidió adoptar a Oreo, una border collie con demasiada energía, siendo ella su primera mascota. A como ella lo cuenta, Oreo le salvó la vida, de estar pasando uno de los momentos mas difíciles de ella Oreo fue la mascota que le regresó esa luz a sus ojos. Esto hizo a Nicole cambiar su perspectiva de la vida e impulsar su amor hacia los animales, sobre todo a los caninos, a los cuales a veces les temía; por ello fundó este refugio, con la intención de que mas animales sin hogar, como lo fue su Oreo en su tiempo, puedan encontrar a una persona que los acompañe y que compartan ese amor que ella y su Oreo tienen, que se llenen de alegría mutuamente y que salven una vida animal.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="card-horizontal tw-flex tw-flex-col tw-items-center tw-justify-center">
                <div class="img-square-wrapper">
                    <img class="img-fluid tw-rounded-full tw-w-48 tw-h-48 tw-m-4" src="assets/diego.png" alt="Diego Magdaleno">
                </div>
                <div class="card-body">
                    <h5 class="card-title tw-text-2xl tw-text-center">Diego Magdaleno</h5>
                    <p class="card-text tw-text-center">Cuidador. Diego es un amante de la naturaleza y los animales desde que era niño. Creció rodeado de perros, gatos, y una variedad de criaturas rescatadas. Su devoción por los animales lo llevó a dedicar su vida al cuidado de los más vulnerables. En Nicofugio, se asegura de que cada animal reciba el amor y la atención que merece, ayudando a construir puentes entre ellos y sus futuras familias.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="card-horizontal tw-flex tw-flex-col tw-items-center tw-justify-center">
                <div class="img-square-wrapper">
                    <img class="img-fluid tw-rounded-full tw-w-48 tw-h-48 tw-m-4" src="assets/aaron.png" alt="Aaron Fonseca">
                </div>
                <div class="card-body">
                    <h5 class="card-title tw-text-2xl tw-text-center">Aaron Fonseca</h5>
                    <p class="card-text tw-text-center">Cuidador. Aaron siempre ha sentido una conexión profunda con los animales. Desde su infancia, ha trabajado en refugios y organizaciones de rescate, brindando cuidado y apoyo a criaturas necesitadas. Su compromiso con el bienestar animal lo llevó a unirse a Nicofugio, donde cada día se dedica a proporcionar amor y cuidado a los residentes del refugio, con la esperanza de que cada uno encuentre un hogar donde sea amado y apreciado como se merece.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12 mb-4">
            <div class="card-horizontal tw-flex tw-flex-col tw-items-center tw-justify-center">
                <div class="img-square-wrapper">
                    <img class="img-fluid tw-rounded-full tw-w-48 tw-h-48 tw-m-4" src="assets/manuel.jpeg" alt="Manuel Medina">
                </div>
                <div class="card-body">
                    <h5 class="card-title tw-text-2xl tw-text-center">Manuel Medina</h5>
                    <p class="card-text tw-text-center">Cuidador. Su pasión por los animales empezo cuando adopto a su perro 'Atai', un
                        Golden Retriever muy hiperactivo y hermoso. Desde entonces ha dedicado su tiempo a Nicofugio
                        para que mas animales como su perro, tengan la oportunidad de encontrar una familia y con esto,
                        no solo fomentar a cuidar a un animal, si no, el cariño y hogar que se les deben de propiciar.
                        Ha tenido una experiencia muy linda conviviendo con distintos animales y encontrandoles familias
                        a cada uno de ellos.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>