<div class="jumbotron jumbotron-fluid bg-info text-white">
    <div class="container text-center">
        <h1 class="display-4">Ayuda a los Animales en Necesidad</h1>
        <p class="lead">Tu donación hace una gran diferencia en la vida de muchos animales.</p>
    </div>
</div>

<div class="container my-5">
    <h2 class="text-center mb-4">¿Por qué donar a Nicofugio?</h2>
    <p>Las donaciones a Nicofugio contribuyen a proporcionar cuidado, alimento y refugio a los animales sin hogar. Además, nos ayudan a seguir con nuestra misión de encontrar familias amorosas para cada mascota. Cada contribución, grande o pequeña, tiene un impacto positivo y directo en la vida de estos animales.</p>
    
    <div class="row my-4">
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Alimentación y Cuidado</h5>
                    <p class="card-text">Tus donaciones aseguran que podamos proporcionar la mejor alimentación y cuidados veterinarios a nuestros animales.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Mejoras en el Refugio</h5>
                    <p class="card-text">Contribuyes a la mejora y mantenimiento de nuestras instalaciones, creando un ambiente más cómodo y seguro para los animales.</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Educación y Conciencia</h5>
                    <p class="card-text">Ayudas a financiar programas educativos que promueven la adopción responsable y la conciencia sobre el bienestar animal.</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="text-center">
        <button type="button" class="btn btn-lg btn-warning">Donar Ahora</button>
    </div>
</div>