<div class="tw-m-4 tw-flex tw-w-full tw-h-full">
    <div class="tw-p-4 tw-shadow-md tw-rounded-md tw-bg-white tw-flex-row tw-w-1/3 tw-min-h-10">
        <div class="tw-m-0">
            <p class="tw-text-xl tw-font-bold tw-m-0 tw-p-0">Usuarios</p>
            <p class="tw-text-lg tw-font-medium tw-text-gray-700 tw-m-0">Registrados en el ultimo mes</p>
        </div>
        <div class="tw-m-0 tw-ml-auto">
            <i class="fas fa-users tw-text-5xl tw-text-green-500"></i>
            <p class="tw-text-3xl tw-font-bold tw-text-green-500 tw-m-0">100</p>
        </div>
    </div>
    <div class="tw-ml-4 tw-p-4 tw-shadow-md tw-rounded-md tw-bg-white tw-flex-row tw-w-1/3 tw-min-h-10">
        <div class="tw-m-0">
            <p class="tw-text-xl tw-font-bold tw-m-0 tw-p-0">Citas</p>
            <p class="tw-text-lg tw-font-medium tw-text-gray-700 tw-m-0">Registradas en el ultimo mes</p>
        </div>
        <div class="tw-m-0 tw-ml-auto">
            <i class="fas fa-users tw-text-5xl tw-text-green-500"></i>
            <p class="tw-text-3xl tw-font-bold tw-text-green-500 tw-m-0">100</p>
        </div>
    </div>
    
    <div class="tw-ml-4 tw-p-4 tw-shadow-md tw-rounded-md tw-bg-white tw-flex-row tw-w-1/3 tw-min-h-10">
        <div class="tw-m-0">
            <p class="tw-text-xl tw-font-bold tw-m-0 tw-p-0">Especie mas popular</p>
            <p class="tw-text-lg tw-font-medium tw-text-gray-700 tw-m-0">En el ultimo mes</p>
        </div>
        <div class="tw-m-0 tw-ml-auto">
            <i class="fas fa-users tw-text-5xl tw-text-green-500"></i>
            <p class="tw-text-3xl tw-font-bold tw-text-green-500 tw-m-0">Perro</p>
        </div>
    </div></div>