<app-search (search)="searchTerm = $event"></app-search>

<div *ngFor="let pet of pets; trackBy: trackById" [ngStyle]="{'display': (selectedType === 'all' || pet.species === selectedType) && (searchTerm === '' || pet.name.toLowerCase().includes(searchTerm.toLowerCase())) ? 'block' : 'none'}">
  <p>{{ pet.name }}</p>
  <a [routerLink]="['/pet-details', pet.id]" routerLinkActive="active">Ver detalles</a>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
      <img src="#" alt="Logo" width="50" height="50">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
          <li class="nav-item">
              <a class="nav-link font-weight-bold text-body" href="#">Acerca de</a>
          </li>
          <li class="nav-item">
              <a class="nav-link font-weight-bold text-body" href="#">Adopta</a>
          </li>
          <li class="nav-item">
              <a class="nav-link font-weight-bold text-body" href="#">Dona</a>
          </li>
          <li class="nav-item">
              <a class="nav-link font-weight-bold text-body" href="#">Contacto</a>
          </li>
      </ul>
  </div>
</nav>

<!-- Texto -->
<div class="container mt-4">
  <div class="text-center">
      <h1>Toda mascota merece un lugar cálido<br>y amoroso.<br><span class="text-warning">Adopta</span> un amigo hoy.</h1>
</div>