<app-navbar></app-navbar>
<div class="container-fluid py-5 tw-h-screen">
    <div class="row mb-4">
        <div class="col text-center">
            <h1 class="display-4 font-weight-bold tw-text-4xl">Citas realizadas</h1>
            <p class="lead tw-text-lg">Aquí encontrarás todas las citas que han agendado con nosotros</p>
        </div>
    </div>
    <div class="row tw-m-10">
        <div class="col">
            <div>
                <h3 class="tw-mb-0 tw-text-2xl tw-font-medium">Citas previas</h3>
                @if (previousAppointments.length.valueOf() !== 0) {
                <div class="table-responsive tw-mt-0 tw-mb-4">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Mascota</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (appointment of previousAppointments; track $index) {
                            <tr>
                                <td class="tw-text-lg">{{ appointment.name }}</td>
                                <td class="tw-text-lg">{{ appointment.date }} </td>
                                <td class="tw-text-lg tw-font-semibold">{{ appointment.time }} </td>
                                <td class="tw-text-lg tw-font-semibold">{{ appointment.petId }}</td>
                                <td class="tw-text-lg tw-font-semibold">Acciones</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                } @else {
                    <div class="tw-text-center tw-mt-4 tw-mb-4">
                        <p class="tw-text-lg tw-font-semibold">No hay citas previas</p>
                    </div>
                }
            </div>
            <div>
                <h3 class="tw-mb-0 tw-text-2xl tw-font-medium">Citas futuras</h3>
                <div class="table-responsive tw-mt-0 tw-mb-4">
                    <table class="table table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Mascota</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (appointment of upcomingAppointments; track $index) {
                            <tr>
                                <td class="tw-text-md">{{ appointment.name }}</td>
                                <td class="tw-text-md">{{ appointment.date }} </td>
                                <td class="tw-text-md">{{ appointment.time }}</td>
                                <td class="tw-text-md">{{ appointment.petId }}</td>
                                <td class="tw-text-md"><button class="tw-text-blue-500" (click)="openInfoDialog(appointment)">Ver</button></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>