<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <a class="navbar-brand" routerLink="/">
            <img src="assets/Logo.png" alt="Logo" width="50" height="50">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse tw-justify-center tw-w-full" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-body" routerLink="/about">Acerca de</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-body" routerLink="/gallery">Adopta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-body" routerLink="/donations">Dona</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-body" routerLink="/contact">Contacto</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link font-weight-bold text-body" routerLink="/appointments">Citas</a>
            </li>
        </ul>
    </div>
</nav>