<div class="tw-bg-slate-200 tw-m-4">
    <div mat-dialog-title class="tw-flex tw-items-center tw-justify-center">
        <h2 class="tw-text-4xl tw-font-bold">Mis citas</h2>
    </div>
    <div mat-dialog-content class="tw-overflow-y-auto tw-max-h-screen">
        <mat-spinner *ngIf="isLoading" class="tw-m-auto"></mat-spinner>
        <ng-container *ngIf="!isLoading">
            <div class="tw-grid tw-grid-cols-1 sm:tw-grid-cols-2 lg:tw-grid-cols-4 tw-gap-4">
                <ng-container *ngFor="let appointment of appointments; trackBy: trackByIndex">
                    <app-appointment-card [appointment]="appointment" (appointmentDeleted)="handleAppointmentDeleted()"></app-appointment-card>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>