<router-outlet></router-outlet>
<div class="container" style="height: 300px;">
        <div class="row">
            <div class="col left-content text-center">
                <br><br><br>
                <h1 class="font-weight-bold text-body">Encuentra tu <span class="text-warning font-weight-bold">nuevo<br></span>mejor amigo.</h1>
                <button class="btn btn-warning btn-lg rounded m-4 font-weight-bold text-white" style="width: 200px;">¡Ver Mascotas!</button>
            </div>
            <div class="col right-content">
                <div id="wrapper">
                    <div id="div1">
                        <img src="" width="400" height="200" class="rounded border" alt="Not Image Found">
                    </div>
                    <div id="div2">
                        <img src="" width="400" height="200" class="rounded" alt="Not Image Found">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-warning">
        <div class="container">
            <div class="row">
                <div class="col text-center mb-4">
                    <h1 class="text-center mt-3 text-white">Acerca de Nicofugio</h1>
                    <h4 class="mt-3 font-weight-normal text-white">Nicofugio comenzo como un apoyo a los animales sin hogar. 
                        Para aquellos animalitos que han tenido la mala fortuna de vivir en situación en calle y/o que 
                        han sido abandonados por sus dueños. En Nicofugio tenemos como objetivo principal encontrar un hogar a aquellos
                        animales que lo necesitan.
                    </h4>
                    <button type="button" class="btn btn-lg btn-light text-warning mt-3" style="width: 150px;">Ver más</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <h2 class="mt-4">¿Por que adoptar?</h2>
        <div class="d-flex justify-content-around">
            <img src="" height="300" width="300" alt="Not Image Found" class="rounded-circle">
            <img src="" height="300" width="300" alt="Not Image Found" class="rounded-circle">
            <img src="" height="300" width="300" alt="Not Image Found" class="rounded-circle">
        </div>
    </div>
    <br>
    <div class="container-fluid text-center">
        <div class="d-flex justify-content-around">
            <img src="" height="300" width="300" alt="Not Image Found" class="rounded-circle">
            <img src="" height="300" width="300" alt="Not Image Found" class="rounded-circle">
            <img src="" height="300" width="300" alt="Not Image Found" class="rounded-circle">
        </div>
    </div>
    <br>
    <div class="container-fluid bg-info">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mt-4 left-content">
                    <img src="" width="300" height="300" alt="Not Image Found" class="rounded-circle">
                </div>
                <div class="col-md-6 right-content">
                    <h2 class="mt-3 text-light">Conoce a Oreo</h2>
                    <h3 class="font-weight-normal text-light">Oreo es una bonita perrita Border Collie que fue adoptada de nuestro refugio, le GUSTA mucho
                        jugar con su pelota, es inteligente, amorosa e inquieta.
                    </h3>
                    <br>
                    <h3 class="mb-3 font-weight-normal text-light">Conoce mas acerca de Oreo y su dueña para ver como los animales pueden cambiar vidas.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid text-center">
        <h2 class="mt-4">¿No puedes adoptar?</h2>
        <h2>Apoya al refugio monetariamente.</h2>
        <button class="btn btn-warning btn-lg rounded mt-3 font-weight-bold text-white" style="width: 300px;">¡Apoya a los perritos!</button>
    </div>
    <br>
