<nav class="tw-shadow-md tw-sticky tw-top-0 tw-backdrop-blur-md tw-bg-white/75 tw-z-30"
    [ngClass]="{ 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
    <div class="tw-flex tw-items-center tw-justify-between tw-py-4"
        [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
        <a class="tw-flex tw-items-center" routerLink="/">
            <img src="assets/Logo.png" alt="Logo" class="tw-w-12 tw-h-12">
        </a>
        <button class="tw-block lg:tw-hidden tw-p-2 tw-border tw-rounded tw-border-gray-400" type="button"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleMobileMenu()"
            [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
            <i class="fas fa-bars"></i>
        </button>
        <div class="tw-hidden lg:tw-flex tw-flex-grow tw-items-center tw-justify-center tw-space-x-8"
            id="navbarNavAltMarkup"
            [ngClass]="{ 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/about"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-info-circle tw-mr-2"></i>Acerca de</a>
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/gallery"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-paw tw-mr-2"></i>Adopta</a>
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/donations"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-hand-holding-heart tw-mr-2"></i>Dona</a>
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/contact"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-envelope tw-mr-2"></i>Contacto</a>
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/events"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-calendar-alt tw-mr-2"></i>Eventos</a>
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/faq"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-question-circle tw-mr-2"></i>FAQ</a>
        </div>
        <div class="tw-hidden lg:tw-flex tw-items-center tw-space-x-4">
            <a *ngIf="!auth.currentUser"
                class="tw-text-lg tw-font-semibold tw-text-white tw-bg-blue-600 tw-px-4 tw-py-2 tw-rounded-md hover:tw-bg-blue-700"
                routerLink="/login"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-sign-in-alt tw-mr-2"></i>Iniciar Sesion</a>
            <div *ngIf="auth.currentUser" class="tw-relative">
                <span class="tw-text-lg tw-font-semibold tw-text-gray-700 cursor-pointer" (click)="toggleDropdown()">
                    <i class="fas fa-user tw-mr-2"></i>{{ userDetails.displayName }}</span>
                <div *ngIf="isDropdownOpen"
                    class="tw-absolute tw-right-0 tw-mt-2 tw-w-48 tw-bg-white tw-border tw-rounded-md tw-shadow-lg tw-py-2">
                    <a *ngIf="isAdmin" class="tw-block tw-px-4 tw-py-2 tw-text-gray-700 hover:tw-bg-gray-100"
                        routerLink="/admin-panel"><i class="fas fa-tools tw-mr-2"></i>Admin Panel</a>
                    <a class="tw-block tw-px-4 tw-py-2 tw-text-gray-700 hover:tw-bg-gray-100"
                        (click)="openAppointmentsDialog()"><i class="fas fa-calendar-check tw-mr-2"></i>Mis citas</a>
                    <a class="tw-block tw-px-4 tw-py-2 tw-text-gray-700 hover:tw-bg-gray-100" (click)="logout()">
                        <i class="fas fa-sign-out-alt tw-mr-2"></i>Cerrar sesion</a>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:tw-hidden" [ngClass]="{'tw-hidden': !isMobileMenuOpen}" id="navbarNavAltMarkup">
        <div class="tw-py-2 tw-space-y-2">
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/about"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-info-circle tw-mr-2"></i>Acerca de</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/gallery"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-paw tw-mr-2"></i>Adopta</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/donations"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-hand-holding-heart tw-mr-2"></i>Dona</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/contact"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-envelope tw-mr-2"></i>Contacto</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/events"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-calendar-alt tw-mr-2"></i>Eventos</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/signup"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-user-plus tw-mr-2"></i>Sign Up</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/login"
                [ngClass]="{'tw-underline': this.accesibilidad.getUnderlineLinks(), 'tw-high-contrast': this.accesibilidad.getHighContrast(), 'tw-text-2xl': this.accesibilidad.getLargeFont()}">
                <i class="fas fa-sign-in-alt tw-mr-2"></i>Login</a>
        </div>
    </div>
</nav>