<nav class="tw-shadow-md tw-sticky tw-top-0 tw-backdrop-blur-md tw-bg-white/75 tw-z-30">
    <div class="tw-container tw-mx-auto tw-flex tw-items-center tw-justify-between tw-py-4">
        <a class="tw-flex tw-items-center" routerLink="/">
            <img src="assets/Logo.png" alt="Logo" class="tw-w-12 tw-h-12">
        </a>
        <button class="tw-block lg:tw-hidden tw-p-2 tw-border tw-rounded tw-border-gray-400" type="button"
            data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="tw-hidden lg:tw-flex tw-flex-grow tw-items-center tw-justify-center tw-space-x-8"
            id="navbarNavAltMarkup">
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600" routerLink="/about">Acerca
                de</a>
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/gallery">Adopta</a>
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/donations">Dona</a>
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/contact">Contacto</a>
            <a class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/events">Eventos</a>
        </div>
        <div class="tw-hidden lg:tw-flex tw-items-center tw-space-x-4">
            <a *ngIf="!auth.currentUser" class="tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/login">Iniciar Sesion</a>
            <div *ngIf="auth.currentUser" class="tw-relative">
                <span class="tw-text-lg tw-font-semibold tw-text-gray-700 cursor-pointer" (click)="toggleDropdown()">{{
                    userDetails.displayName }}</span>
                <div *ngIf="isDropdownOpen"
                    class="tw-absolute tw-right-0 tw-mt-2 tw-w-48 tw-bg-white tw-border tw-rounded-md tw-shadow-lg tw-py-2">
                    <a class="tw-block tw-px-4 tw-py-2 tw-text-gray-700 hover:tw-bg-gray-100"
                        (click)="openAppointmentsDialog()">Mis citas</a>
                    <a class="tw-block tw-px-4 tw-py-2 tw-text-gray-700 hover:tw-bg-gray-100" (click)="logout()">Cerrar
                        sesion</a>
                </div>
            </div>
        </div>
    </div>
    <div class="lg:tw-hidden collapse" id="navbarNavAltMarkup">
        <div class="tw-py-2 tw-space-y-2">
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/about">Acerca de</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/gallery">Adopta</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/donations">Dona</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/contact">Contacto</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/events">Eventos</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/signup">Sign Up</a>
            <a class="tw-block tw-text-lg tw-font-semibold tw-text-gray-700 hover:tw-text-blue-600"
                routerLink="/login">Login</a>
        </div>
    </div>
</nav>