<form class="tw-p-8" [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <div class="tw-flex tw-flex-col">
        <h3 class="tw-text-lg tw-font-bold tw-mb-2">Datos de la cita</h3>
        <div class="tw-flex tw-space-x-4 tw-items-center tw-justify-center">
        <mat-form-field>
            <mat-label>Elige una fecha</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date" [min]="minDate" [max]="maxDate"
                (dateChange)="onDateChange()">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput [matTimepicker]="timepicker" formControlName="time" />
            <mat-timepicker-toggle matSuffix [for]="timepicker"></mat-timepicker-toggle>
            <mat-timepicker #timepicker orientation="horizontal" format="24h"></mat-timepicker>
            @if (appointmentForm.get('time')?.hasError('required')) {
            <mat-error>La hora es obligatoria</mat-error>
            }
            @if (appointmentForm.get('time')?.hasError('invalidTime')) {
            <mat-error>La hora no es válida o ya esta reservada en este dia.</mat-error>
            }
        </mat-form-field>
        </div>
    </div>

    <div class="tw-w-full">
        <h3 class="tw-text-lg tw-font-bold tw-mb-2">Detalles adicionales</h3>
        <mat-form-field class="tw-w-full">
            <mat-label>Notas</mat-label>
            <textarea matInput placeholder="Soy una persona cariñosa con los animalitos..." formControlName="notes"
                class="tw-w-full"></textarea>
        </mat-form-field>
    </div>

    <div class="tw-flex tw-space-x-2 tw-self-end">
        <button mat-flat-button color="primary" type="submit" [disabled]="!this.appointmentForm.valid">Enviar</button>
        <button mat-flat-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
    </div>
</form>