<app-navbar></app-navbar>
<div>
<div class="container contact-form rounded shadow">
    <form method="post">
        <h1 class="tw-text-4xl tw-text-blue-500">¡Envíanos un Mensaje!</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="txtName" class="form-label">Tu nombre:</label>
                    <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Tu nombre"
                        value="">
                </div>
                <div class="mb-3">
                    <label for="txtEmail" class="form-label">Tu E-mail:</label>
                    <input type="text" id="txtEmail" name="txtEmail" class="form-control" placeholder="Tu E-mail"
                        value="">
                </div>
                <div class="text-center">
                    <button type="submit" name="btnSubmit" class="btn btn-warning tw-w-full tw-bg-blue-500"><span class="text-light">Enviar
                            Mensaje</span></button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="txtMsg" class="form-label">Tu mensaje canino:</label>
                    <textarea id="txtMsg" name="txtMsg" class="form-control tw-w-full" placeholder="Tu mensaje canino y gatuno"
                        style="height: 150px;"></textarea>
                </div>
            </div>
        </div>
    </form>
</div>
</div>
<app-footer></app-footer>