<footer class="container-fluid tw-bg-blue-400 text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contacto</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Teléfono: 123-456-789</a></li>
                    <li><a href="#" class="text-white">Correo electrónico: nicofugio&#64;nico.com</a></li>
                    <li><a href="#" class="text-white">Dirección: Avenida Arqueros 1032, Aguascalientes, Mexico</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Redes Sociales</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white">Facebook</a></li>
                    <li><a href="#" class="text-white">Twitter</a></li>
                    <li><a href="#" class="text-white">Instagram</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Suscribirse al boletín</h5>
                <form class="tw-flex tw-space-x-4">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Tu correo electrónico">
                    </div>
                    <button type="submit" class="btn btn-primary">Suscribirse</button>
                </form>
            </div>
        </div>
    </div>
    <div class="text-center mt-3">
        <p>2024 Nicofugio - Todos los derechos reservados</p>
    </div>
</footer>